body {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* header */
.header {
  height: 7dvh;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: var(--header-desktop-color);
}

.header__button {
  width: 10dvh;
  height: 5dvh;
}

.header__logo {
  width: 17dvh;
}


/* meme */

.main__meme {
  height: 65dvh;
}

.meme__superiorText, .meme__inferiorText, .main__meme { 
  width: 35dvw;
}

/* aside */
.aside__navBar {
  flex-direction: column;
  width: 3dvw;
  height: 93dvh;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: flex-start;
}

.navBar__button {
  height: 5dvh;
  width: 5dvh;
  margin: 15%;
}

/* panel */
.panel {
    width: 26dvw;
    height: 93dvh;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
}

/* panel content */
.container__inputText {
    height: 4dvh;
}

.container__largeSelect {
  height: 4dvh;
}

.color__text, .color__background {
  height: 4dvh;
}

.container__checkbox {
  margin: 1;
}

.alignment__button {
  padding: 2% 5%;
}

.alignment__input {

  height: 4dvh;
}

.background__color, .background__select {
  width: 12dvw;
  height: 4dvh;
}

.row__button {
  padding: 3% 6%;
}

/* nav bar */
.aside__navBar {
  width: 4dvw;
}


.navBar__button {
  height: 5dvh;
  width: 3dvw;
}