body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* header */

.header {
  width: 100dvw;
  height: 10dvh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
}

.header__logo {
  width: 25dvw;
}

.header__button {
  width: 20dvw;
  height: 5dvh;
  border: none;
  border-radius: 10px;
  background-color: var(--tertiary-color);
}

.button__icon {
  color: var(--text-color);
}

/* meme */

.main__meme {
  background-color: var(--secondary-color);
  height: 40dvh;
  width: 90dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: none;
}

.meme__superiorText, .meme__inferiorText {
  width: 90dvw;
  padding: 4% 0;
  margin: 0;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 22px;
  position: absolute;
}

.meme__inferiorText {
  bottom: 0;
}

.meme__image {
  background-color: black;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}


/* panel */
.panel {
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

.panel__closeBtn {
  padding: 4%;
  background: none;
  border: none;
  align-self: flex-end;
  position: absolute;
}

.closeBtn__icon {
  color: var(--text-color);
  font-size: 20px;
}

.settings__title { 
  text-align: center;
}

.settings__container {
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

.container__title, .color__title {
  font-size: 16px;
  margin: 1% 0;
}

.container__inputText, .alignment__input {
  width: 95dvw;
  height: 4dvh;
  border: none;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  color: var(--text-color);
}

.container__background {
  display: flex;
  justify-content: space-between;
}

.background__color, .color__background, .color__text {
  width: 47dvw;
  height: 4dvh;
  border: none;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  display: flex;
  align-items: center;
}

.color__input, .text__input, .background__input {
  background: none;
  border: none;
  height: 35px;
  width: 35px;
}

.color__hexa {
  margin-left: 4%;
}

.background__select {
  border: none;
  height: 4dvh;
  width: 47dvw;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  color: var(--text-color);
}

.container__filter {
  display: flex;
  flex-direction: column;
  margin: 1.5% 0;
}

.filter__title {
  font-size: 15px;
  margin: 1% 0;
}

.settings__restoreBtn {
  border: none;
  background-color: var(--tertiary-color);
  padding: 3%;
  border-radius: 5px;
  display: block;
  margin: 3% auto;
  color: var(--text-color);
}

.container__largeSelect {
  border: none;
  height: 4dvh;
  width: 96dvw;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  color: var(--text-color);
}

.container__alignment {
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
}

.alignment__input {
  width: 50dvw;

}

.alignment__button, .row__button {
  border: none;
  background-color: var(--tertiary-color);
  padding: 2.5% 5%;
  border-radius: 5px;
  color: var(--text-color);
}

.container__row {
  display: flex;
  justify-content: space-between;
}

.row__button {
  padding: 2.5% 8%;
}

.container__checkbox {
  margin: 1%;
}

.checkbox__text {
  font-size: 14px;

}

/* slider */

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--text-color);
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: var(--text-color);
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}



/* nav bar */
.aside__navBar {
  width: 100dvw;
  height: 10dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
}

.navBar__button {
  margin: 2%;
  border: none;
  border-radius: 10px;
  height: 5dvh;
  width: 5dvh;
  background-color: var(--tertiary-color);
}

