body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* header */

.header {
  width: 100dvw;
  height: 10dvh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
}

.header__logo {
  width: 25dvw;
}

.header__button {
  width: 20dvw;
  height: 5dvh;
  border: none;
  border-radius: 10px;
  background-color: var(--tertiary-color);
}

.button__icon {
  color: var(--text-color);
}

/* meme */

.main__memeContainer {
  background-color: var(--secondary-color);
  height: 40dvh;
  width: 90dvw;
}

/* panel */
.panel {
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

.panel__closeBtn {
  padding: 4%;
  background: none;
  border: none;
  align-self: flex-end;
  position: absolute;
}

.closeBtn__icon {
  color: var(--text-color);
  font-size: 20px;
}

/* image panel */
.image__title { 
  text-align: center;
}

/* nav bar */
.memeSettings__navBar {
  width: 100dvw;
  height: 10dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
}

.navBar__button {
  margin: 2%;
  border: none;
  border-radius: 10px;
  height: 5dvh;
  width: 5dvh;
  background-color: var(--tertiary-color);
}
