/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* normalize */
@import url(./normalize.css);

/* media queries */
@import url(./mobile.css);
@import url(./tablet.css) screen and (min-width: 768px);
@import url(./desktop.css) screen and (min-width: 992px);

/* general settings */
:root {
    --primary-color: #d7cbe6;
    --secondary-color: #bfafd0;
    --tertiary-color: #ddd4e7;
    --text-color: #746c88;
    --header-desktop-color: #b1a4c4;
    --font: 'arial', sans-serif;
    
}

.dark-mode {
    --primary-color: #423a53;
    --secondary-color: #352F44;
    --tertiary-color: #5a5070;
    --header-desktop-color: #272231;
    --text-color: #B9B4C7;
}

.hidden {
    display: none;
}

body {
    font-family: var(--font);
    color: var(--text-color);
    background-color: var(--primary-color);
}